In [2]:
print ("hello world")

hello world

In [4]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_set = {1, 2, 3, 4, 5}
my_set.add (6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
string_set = {"apple", "banana", "cherry"}
string_set.update({"orange", "kiwi"})
print(string_set)

{'kiwi', 'banana', 'orange', 'apple', 'cherry'}

In [10]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [11]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(4)
print(my_set)

{1, 2, 3, 5}

In [12]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [13]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [15]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = {6,7,8}
result_= set1.union(set2, set3)
print(result_)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
set1 = {1, 2, 3}
set2 = {2,3,4}
set3 = {3,4,5,6}
result = set1.intersection(set2,set3)
print(result)

{3}

In [19]:
set1 = {1, 2, 3}
set2 = {2,3,4}
result = set1.symmetric_difference(set2)
print(result)

{1, 4}

In [22]:
set1 = {1,2,3}
set2 = {1,2,3,4}
print(set1.issubset(set2))

True

In [27]:
set1 = {1,2,3,4}
set2 = {2,3,4}
print("Set1 is superset of set2",set1.issuperset(set2))

Set1 is superset of set2 True